@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f8;
  padding: 10px;
  margin: 0;
}

.feature-box {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border-left: 4px solid #666666;
  max-width: 100%;
  width:100%;
  margin: auto;
  
}

.feature-box h3 {
  color: #24478f;
  margin-bottom: 20px;
}

.feature-box ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
}

.feature-box li {
  margin: 10px 0;
  line-height: 1.6;
}

.feature-box li::before {
  content: "";
  margin-right: 0;
}

.note-box {
  background-color: #fff3cd;
  padding: 20px;
  border-left: 5px solid #f1c40f;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 15px;
  color: #333;
}

.note-box span {
  color: #d35400;
  display: block;
  margin-top: 4px;
}
